[submodule "third-party/sing-box"]
	path = third-party/sing-box
	url = git@github.com:SagerNet/sing-box.git
[submodule "third-party/wgcf"]
	path = third-party/wgcf
	url = git@github.com:ViRb3/wgcf.git
