{
  "log": {
    "level": "info"
  },
  "outbounds": [
    {
      "type": "socks",
      "tag": "i-socks",
      "listen": "0.0.0.0",
      "listen_port": 1080,
      "sniff": false
    }
  ],
  "outbounds": [
    {
      "type": "wireguard",
      "tag": "o-wg",
      "private_key": "__WG_IFACE_PRIVATE__",
      "local_address": [
        "__WG_IFACE_ADDR_V4__",
        "__WG_IFACE_ADDR_V6__"
      ],
      "peer_public_key": "__WG_PEER_PUBLIC__",
      "server": "__WG_PEER_ENDPOINT__",
      "server_port": __WG_PEER_PORT__,
      "mtu": __WG_MTU__
    }
  ],
  "route": {
    "final": "o-wg"
  }
}
